<!DOCTYPE html>
<html>
    <head>

        {% if title %}
            <title> {{title}} </title>
        {% else %}
            <title> My App</title>
        {% endif %}

    </head>

    <body>

        <div>
            <a href="{{ url_for('main.index') }}"> Home </a>

            {% if not current_user.is_anonymous %}

                {% if current_user.role == 'admin' %}
                    <a href="{{ url_for('auth.create_account') }}"> Create account </a>
                {% elif current_user.role == 'manager' %}
                    <a href="{{ url_for('main.view_staff_list') }}"> Manage staff </a>
                    <a href="{{ url_for('main.view_cameras') }}"> View cameras </a>
                {% else %}
                    <a href="{{ url_for('main.user', username=current_user.username) }}"> Personal info </a>
                {% endif %}

                <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </div>

        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for msg in messages %}
                    <li>{{ msg }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}

    </body>
</html>