{% extends 'bootstrap/base.html' %}

{% block title %}

    {% if title %}
        {{ title }}
    {% else %}
        Employee Management
    {% endif %}

{% endblock %}

{% block navbar %}

    <nav class="navbar navbar-default" style="background-color: #106e73;">
        <div class="container">
        
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{{ url_for('main.index') }}" style="color: white;"> Employee Management </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}" style="color: white;"> Home </a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.is_anonymous %}

                        {% if current_user.role == 'manager' %}
                            <li><a href="{{ url_for('main.view_account_list') }}" style="color: white;"> Manage staff </a></li>
                            <li><a href="{{ url_for('main.view_cameras') }}" style="color: white;"> View cameras </a></li>
                            <li><a href="{{ url_for('main.view_weekly_schedule') }}" style="color: white;"> View weekly schedule </a></li>
                            <li>
                                <a href="{{ url_for('main.messages') }}" style="color: white;"> Messages
                                    {% set new_messages = current_user.new_messages() %}
                                    <span id="message_count" class="badge" style="background-color: #CC533D; visibility: {% if new_messages %}visible {% else %}hidden{% endif %};">
                                        {{ new_messages }}
                                    </span>
                                </a>
                            </li>
                        {% elif current_user.role != 'admin' %}
                            <li><a href="{{ url_for('main.user', username=current_user.username) }}" style="color: white;"> Personal info </a></li>
                            <li><a href="{{ url_for('main.view_workshifts', username=current_user.username) }}" style="color: white;"> Workshifts </a></li>
                        {% endif %}

                        <li><a href="{{ url_for('auth.logout') }}" style="color: white;">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        function set_message_count(n) {
            $('#message_count').text(n);
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        {% if current_user.is_authenticated %}
        $(function() {
            var since = {{ current_user.last_message_read_time.timestamp() }};
            setInterval(function() {
                $.ajax("{{ url_for('main.notifications') }}?since=" + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                        }
                    }
                );
            }, 1000);
        });
        {% endif %}
    </script>
{% endblock %}