{% extends "base.html" %}

{% block app_content %}

    <div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px;">
        <div class="col-md-5" style="display: flex; justify-content: start; width: 100%;">
            <h1>Messages</h1>
        </div>
    </div>
    
    <table class="table table-striped">
        {% for post in messages %}
            <tr>
                <td>
                    <i>{{ moment(post.timestamp).fromTime(fake_now) }}</i>
                    <br>
                    <span id="post{{ post.id }}">{{ post.body }}</span>
                    <br><br>
                </td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}