{% extends "base.html" %}

{% block app_content %}

    <h1>Productivity report: {{ user.name }}</h1>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>Day</th>
                <th>Date</th>
                <th>Day shift</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Arrival</th>
                <th>Staying time</th>
            </tr>
        </thead>
        
        <tbody>
            {% for r in productivity_report %}
                <tr>
                    <td>{{ r['day'] }}</td>
                    <td>{{ r['date'].strftime('%d/%m/%Y') }}</td>
                    <td>{{ r['dayshift'].name }}</td>
                    <td>{{ r['dayshift'].start_time }}</td>
                    <td>{{ r['dayshift'].end_time }}</td>
                    <td>
                        {% if r['arrival'] %}
                            {{ r["arrival"] }}
                        {% else %}
                            Not yet
                        {% endif %}
                        {% if r['latency'] %}
                            {% if r['arrival'] %}
                                ({{ moment(r['dayshift'].start_time).toTime(r['arrival'], no_suffix=True) }} late)
                            {% else %}
                                ({{ moment(r['dayshift'].start_time).toTime(fake_now.time(), no_suffix=True) }} late)
                            {% endif %}
                        {% endif %}
                    </td>
                    {% if r['staying'] is not none %}
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ r['staying_percent'] * 100 }}%; background-color: #fb8b24;" aria-valuenow="{{ r['staying_percent'] * 100 }}" aria-valuemin="0" aria-valuemax="100">
                                    {{ (r['staying_percent'] * 100)|round(1) }}% 
                                    ({{ r['staying'] }})
                                </div>
                            </div>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

    </table>

    


{% endblock %}