{% extends "base.html" %}

{% block app_content %}

    <h1>Productivity report: {{ user.name }}</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>Day</td>
                <td>Date</td>
                <td>Day shift</td>
                <td>Start time</td>
                <td>End time</td>
                <td>Arrival</td>
                <td>Staying time</td>
            </tr>
        </thead>
        
        <tbody>
            {% for r in productivity_report %}
                <tr>
                    <td>{{ r['day'] }}</td>
                    <td>{{ r['date'].strftime('%d/%m/%Y') }}</td>
                    <td>{{ r['dayshift'].name }}</td>
                    <td>{{ r['dayshift'].start_time }}</td>
                    <td>{{ r['dayshift'].end_time }}</td>
                    <td>
                        {% if r['arrival'] %}
                            {{ r["arrival"] }} 
                        {% endif %}
                        {% if r['latency'] %}
                            ({{ r['latency'] }} late)
                        {% endif %}
                    </td>
                    {% if r['staying'] is not none %}
                        <td>{{ r['staying'] }} ({{ '%.0f'|format(r['staying_percent'] * 100|float) }}%)</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>

    </table>

    


{% endblock %}