{% extends "base.html" %}

{% block app_content %}

    <div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px;">
        <div class="col-md-5" style="display: flex; justify-content: start; width: 100%;">
            <h1>Staff info: {{ user.name }}</h1>
        </div>
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th scope="row">Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th scope="row">Role</th>
                <td>{{ user.role_name }}</td>
            </tr>
            <tr>
                <th scope="row">Workshifts</th>
                <td><a href="{{ url_for('main.view_workshifts', username=user.username) }}"> &#x2192 Click to see details</a></td>
            </tr>
        </tbody>
      </table>


{% endblock %}