{% extends "base.html" %}

{% block app_content %}

    <h1>Staff information</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th scope="row">Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th scope="row">Role</th>
                <td>{{ user.role }}</td>
            </tr>
        </tbody>
      </table>

    <table class="table table-striped">
        <thead>
            <tr>
                <td style="vertical-align: middle; border-top: none;"><h3>Registered workshifts</h3></td>
                <td></td>
                <td></td>
                <td></td>
                {% if current_user.role == 'manager' %}
                <td style="vertical-align: middle; border-top: none;"><a class="btn btn-primary" href="{{ url_for('main.register_workshift', username=user.username) }} "> Register new workshift </a></td>
                {% endif %}
            </tr>
            <tr>
                <th>Week day</th>
                <th>Shift</th>
                <th>Start time</th>
                <th>End time</th>
                <th></th>
              </tr>
        </thead>

        <tbody>
        {% for workshift in workshifts %}
            <tr>
                <td>{{ workshift.day }}</td>
                <td>{{ workshift.dayshift.name }}</td>
                <td>{{ workshift.dayshift.start_time }}</td>
                <td>{{ workshift.dayshift.end_time }}</td>
                {% if current_user.role == 'manager' %}
                <td>
                    <form action=" {{ url_for('main.unregister_workshift', username=user.username, day=workshift.day, dayshift_id=workshift.dayshift_id) }} " method="post" novalidate>
                        {% with unregister_form = unregister_form_class() %}
                        
                        {{ unregister_form.hidden_tag() }}
                        <p>{{ unregister_form.submit(value='Delete', class_='btn btn-default') }}</p>
                        {% endwith %}
                    </form>
                </td>
                {% endif %}
            </tr>


        {% endfor %}
        </tbody>
    </table>


{% endblock %}