{% extends "base.html" %}

{% block app_content %}

    <div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px;">
        <div class="col-md-5" style="display: flex; justify-content: start; width: 100%;">
            <h1>Camera view</h1>
        </div>
    </div>

    <div class="container">
        <div class="row mb-3">
            {% for cam in cameras %}
            <div class="col-md-6 col-lg-6">
                <img src="{{ url_for('main.video_feed', cam_id=cam.id) }}" class="img-fluid mb-6">
            </div>
            {% endfor %}
        </div>
      </div>
    
{% endblock %}