{% extends "base.html" %}

{% block app_content %}

    <div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px;">
        <div class="col-md-5" style="display: flex; justify-content: start; width: 100%;">
            <h1>Weekly schedule</h1>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <td></td>
                {% for d in week['morning']['info'] %}
                <th>{{ d }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for ds in week %}
                <tr>
                    <td style="text-align: center;"><p style="font-weight: bold;">{{ ds }}</p><p>{{ week[ds]['start_time'] }} - {{ week[ds]['end_time'] }}</p></td>
                    {% for d in week[ds]['info'] %}
                    <td>
                        {% for user in week[ds]['info'][d] %}
                            <p><a href="{{ url_for('main.view_workshifts', username=user.username) }}">{{ user.name }}</a></p>
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}