{% extends "base.html" %}

{% block app_content %}
<div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 25px;">
    <div class="col-md-5" style="display: flex; justify-content: start; width: 100%;">
        <h1>
            {% if current_user.role == 'manager' %}
            Staff list
            {% elif current_user.role == 'admin' %}
            Account list
            {% endif %}
        </h1>
    </div>
    <div class="col-md-5" style="display: flex; justify-content: end; width: 100%;">
        <a class="btn btn-primary" href="{{ url_for('auth.create_account') }}" style="background-color: #5f0f40; border-color: #5f0f40;">Create new account</a>
    </div>
</div>

    {% if current_user.role == 'manager' %}
    <table class="table table-striped">
        <thead>

            <tr>
                <th style="vertical-align: middle; border-top: none;">Name</th>
                <th style="vertical-align: middle; border-top: none;">Role</th>
                <th style="vertical-align: middle; border-top: none;">Worked days</t>
                <th style="vertical-align: middle; border-top: none;">Late days</th>
                <th style="vertical-align: middle; border-top: none;">Productivity</th>
                <th style="vertical-align: middle; border-top: none;"></th>
            </tr>
        </thead>

        <tbody>
            {% for user in users%}
                <tr>
                    <td><a href="{{ url_for('main.user', username=user.username) }}">{{ user.name }}</a></td>
                    <td>{{ user.role }}</td>
                    {% set late_days = user.overall_latency() %}
                    {% set worked_days = user.productivities.count() %}
                    {% if worked_days == 0 %}
                        {% set late_percent = 0 %}
                    {% else %}
                        {% set late_percent = (late_days / worked_days * 100) %}
                    {% endif %}
                    
                    <td>{{ worked_days }}</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ late_percent }}%; background-color: #9a031e;" aria-valuenow="{{ late_percent }}" aria-valuemin="0" aria-valuemax="100">{{ late_days }} ({{  late_percent }}%)</div>
                        </div>                
                    </td>
                    <td>
                        {% set staying = user.overall_staying() %}
                        {% if staying is not none %}
                            <!-- {{ '%.0f'|format(staying * 100|float) }}% -->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ staying * 100 }}%; background-color: #fb8b24;" aria-valuenow="{{ staying * 100 }}" aria-valuemin="0" aria-valuemax="100">{{ (staying * 100)|round(1) }}%</div>
                            </div>                        
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('main.productivity', username=user.username) }}"> &#x2192 Productivity details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% elif current_user.role == 'admin' %}

    <table class="table table-striped">
        <thead>

            <tr>
                <th style="vertical-align: middle; border-top: none;">ID</th>
                <th style="vertical-align: middle; border-top: none;">Name</th>
                <th style="vertical-align: middle; border-top: none;">Username</th>
                <th style="vertical-align: middle; border-top: none;">Role</th>
                <th style="vertical-align: middle; border-top: none;"></th>
            </tr>
        </thead>

        <tbody>
            {% for user in users%}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <form action=" {{ url_for('auth.delete_account', username=user.username) }} " method="post" novalidate>
                            {% with del_acc_form = del_acc_form_class() %}
                            
                            {{ del_acc_form.hidden_tag() }}
                            <p>{{ del_acc_form.submit(value='Delete', class_='btn btn-default',  style="background-color: #9a031e; border-color: #9a031e;  color: white") }}</p>
                            {% endwith %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

    {% endif %}

{% endblock %}